@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <!--><h4 class="display-4">Bem Vindo ao Gestor de Tarefas</h4></!-->

        <div><img src="~/imagem/bemvindo20192020.jpg" class="img-fluid" alt=""></div>
        <p>Como posso ajudar?</p>
    </div>
