
<div class="alert alert-success" role="alert">
        <h4 class="alert-heading">@ViewBag.Title</h4>
        <p>@ViewBag.Message</p>
        <a asp-action="Index" class="btn btn-primary">Ver a Lista de Serviço</a>
</div>

